<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Personas</title>
    <link rel="stylesheet" href="stylesheets/chosen.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/myButton.css">

    <script src="lib/d3.v3.min.js"></script>
    <script src="lib/d3.v4.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/chosen.jquery.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/chosen.jquery.min.js"></script>
    <!-- d3 version 3 is d3
d3 version 4 is d3v4 -->
</head>

<body>
    <div id=top_div>
        <div id="top_left_div" class="outer-div">
            <div id="view0" class="block-div">

            </div>
            <div id="view1_top">
                <div id="view1_select" class="block-div">
                    <center>
                        <br><br>
                        <select data-placeholder="Choose locations..." id="location_select" multiple tabindex="5"></select>
                        <br><br>
                        <select data-placeholder="Choose school locations..." id="school_select" multiple tabindex="5"></select>
                    </center>
                </div>
                <div id="view1" class="block-div">
                </div>
            </div>

        </div>
        <div id="top_right_div" class="outer-div">
            <div id="view2" class="block-div">
            </div>
        </div>
    </div>
    <div id=bottom_div class="outer-div">
        <div id="view3" class="block-div">

        </div>
    </div>
    <script src="javascripts/draw_view0.js"></script>
    <script src="javascripts/draw_view1.js"></script>
    <script src="javascripts/draw_view1_select.js"></script>
    <script src="javascripts/draw_view2.js"></script>
    <script src="javascripts/draw_view3.js"></script>
    <script src="javascripts/initial.js"></script>

</body>

</html>